.listBox {
  width: 1500px;
  padding: 24px;
  height: 100%;
  margin: 0px 10%;

  .headerBox {
    background-color: #fff;
    margin-bottom: 48px;
    max-height: 200px;
  }
  .listCrd {
    max-height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.cardItemBox {
  margin-bottom: 12px;
  border-radius: 16px !important;
}
